//引入外部文件
// 重置样式
@import "base";
// 初始化样式
@import "normalize";
// 引入公共部分
@import "common.less";
@desgin: 750;
@base: @desgin / 10;
@mmmColor: #ff841d;
// 引入首页less
@import "index";
// 引入分类页
@import "save";
// 引入家电表格区域
@import "category";
// 引入产品细分区域
@import "product";
// 引入商品详情页
@import "bijia";
// 引入国内折扣
@import "money";
// 引入国内折扣区域
@import "inland";
// 引入国内折扣
@import "dis";
// 引入白菜价页面less
@import "baicai";
// 引入优惠券的页面less
@import "cou";
// 引入肯德基优惠区域
@import "coup";
// 引入凑单品less文件
@import "gs";
// 引入商场导航less文件
@import "site";
// 引入品牌大全less
@import "brand";
// 引入品牌详情less
@import "brand2";
