/*国内产品折扣区域*/

.main {
  .content {
    padding: 4rem / @base 10rem / @base;
    background-color: #fff;
    h3 {
      font-size: 18rem / @base;
      font-weight: 800;
      color: #5a5a5a;
      text-align: left;
      margin: 10rem / @base auto 5rem / @base auto;
    }
    .info {
      margin: 12rem / @base auto;
      font-size: 12rem / @base;
      color: #999;
      .mall,
      .addtime,
      .author {
        margin: 0 4rem / @base;
      }
    }
    .content {
      .pic {
        width: 120rem / @base;
        float: right;
        margin: 12rem / @base auto auto 10rem / @base;
        overflow: hidden;
        font-size: 14rem / @base;
        img {
          width: 120rem / @base;
          height: 120rem / @base;
        }
      }
      .con {
        font-size: 16rem / @base;
        color: #606060;
        line-height: 24rem / @base;
        padding-bottom: 20rem / @base;
        p {
          margin: 6rem / @base auto;
          img {
            width: 350rem / @base;
            height: 350rem / @base;
          }
        }
      }
      .area {
        span#s {
          position: relative;
          display: inline-block;
          line-height: 38rem / @base;
          line-height: 20rem / @base;
          padding: 0px 20rem / @base 0px 16rem / @base;
          #drop {
            margin-left: 265rem / @base;
            background-color: #fff;
            width: 138rem / @base;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
            border-color: #f1f1f1 #f1f1f1 #dbdbdb #f1f1f1;
            border-width: 0px 1px 1px 1px;
            border-style: solid;
            padding: 0px 0px 10rem / @base 0px;
            ul {
              li {
                width: 100%;
                height: auto;
                font-size: 12rem / @base;
                line-height: 20rem / @base;
                font-family: "Microsoft Yahei";
                a {
                  display: block;
                  padding: 0 10rem / @base;
                  span {
                    border-bottom: 1px dotted #d0d0d0;
                    padding: 0 10rem / @base;
                    text-align: left;
                    display: block;
                    strong {
                      float: right;
                      font-weight: normal;
                      color: #f27b04;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .golink {
      height: 30rem / @base;
      background-color: @mmmColor;
      border-radius: 4rem / @base;
      a {
        display: block;
        text-align: center;
        line-height: 30rem / @base;
        color: #fff;
        font-size: 14rem / @base;
        margin: 20rem / @base 10rem / @base;
      }
    }
  }
  .erweima {
    text-align: center;
    margin: 20rem / @base 10rem / @base;
  }
  .cu-content-pl {
    background-color: #fff;
    .tit {
      font-size: 16rem / @base;
      padding: 6rem / @base 8rem / @base;
    }
    .reply {
      padding: 6rem / @base 8rem / @base;
      .form {
        border: 2rem / @base solid #eceae8;
        border-radius: 2rem / @base;
        padding: 4rem / @base 0 0 4rem / @base;
        width: 98%;
        margin: 0 auto;
        position: relative;
        textarea {
          width: 100%;
          border: none;
          line-height: 22rem / @base;
          font-size: 14px;
          color: #666;
          height: 68rem / @base;
        }
        .ctrl {
          background-color: #fbfbfb;
          height: 36rem / @base;
          margin-left: -4rem / @base;
          border-top: solid 1px #f2f2f2;
          input {
            position: absolute;
            right: -1rem / @base;
            bottom: -2rem / @base;
            background: #ff841d;
            border: none;
            width: 100rem / @base;
            height: 39rem / @base;
            color: #fff;
            font-size: 16rem / @base;
            border-radius: 4rem / @base;
          }
        }
      }
    }
    .list {
      ul {
        overflow: hidden;
        li {
          width: 100%;
          padding: 18rem / @base 10rem / @base;
          background-color: #ffffff;
          .userimg {
            width: 40rem / @base;
            float: left;
            overflow: hidden;
          }
          .con {
            padding-left: 10rem / @base;
            overflow: hidden;
            .name {
              font-size: 14rem / @base;
              margin-bottom: 6rem / @base;
              .username {
                color: #5997c0;
                font-size: 13rem / @base !important;
                float: left;
              }
              .time {
                color: #999;
                font-size: 13rem / @base !important;
                float: right;
              }
            }
            .content {
              font-size: 15rem / @base !important;
              color: #606060;
              line-height: 20rem / @base;
            }
          }
        }
      }
    }
  }
}
